<html>
  <head>
   <title>Picon Dashboard - {{ user }}</title>
  </head>
  <body>
    <div style='float:right'><b>{{ user }}</b> | <a href="{{ signout_url }}">Sign out</a></div>
    <h1>Dashboard</h1>
    <p>API Key: <b>{{ token }}</b></p>
    <p>Registered devices</p>
    {% if devices %}
      <table><tr><th>Device ID</th><th>enable</th></tr>
      {% for dev in devices %}
        <tr><td>{{ dev.devid }}</td><td><input id="{{ dev.devid}}" type="checkbox" name="{{ dev.devid }}"{% if dev.active %} checked{% endif %}/></td></tr>
      {% endfor %}
      </table>
    {% else %}
      <blockquote style="font-style: italic">No devices registered.</blockquote>
    {% endif %}
    <input type="submit" name="save" value="save changes" />
    <p>Send test message</p>
    <form method="POST" action="/send">
    <input id="key" type="hidden" name="key" value="{{ token }}" />
    <textarea id="text" name="text"></textarea>
    <input type="hidden" id="event" name="event" value="test" />
    <input type="hidden" id="priority" name="priority" value="-2" />
    <input type="submit" name="submit" value="Send" />
    </form>
  </body>
</html>
